:root {
  --fourth: #635ebf;
  --tertiary: #e4309d;
  --secondary: #5048cd;
  --fifth: #1d15a2;
  --primary: #ffdfdf;
  --black: #171321;
  --white: #f7f8fa;
  --fifth-50: rgba(255, 215, 255, 1);
  --fifth-100: rgba(241, 192, 255, 1);
  --fifth-200: rgba(217, 170, 255, 1);
  --fifth-300: rgba(192, 148, 255, 1);
  --fifth-400: rgba(169, 127, 255, 1);
  --fifth-500: rgba(145, 106, 255, 1);
  --fifth-600: rgba(121, 86, 237, 1);
  --fifth-700: rgba(96, 66, 214, 1);
  --fifth-800: rgba(70, 47, 191, 1);
  --fifth-900: rgba(41, 27, 169, 1);

  --font-family-inter: "Inter";
  --font-family-open_sans: "Open Sans";
}
