@use "../abstracts/" as a;

.c-main {
  margin-top: 16rem;
  max-width: 100vw;
  position: relative;
  overflow: hidden;
}

.c-text {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: min(100% - 4rem, 1200px);
  margin-inline: auto;

  &__subheading {
    @include a.text-style-subheading;
    color: var(--fifth);
    text-transform: uppercase;
    line-height: 4rem;
    text-align: left;
  }
  &__heading {
    @include a.hollow-text;
    @include a.text-style-heading;
  }
  &__paragraph {
    @include a.text-style-paragraph;
    color: var(--fifth);
    line-height: 2rem;
  }
}

.msg {
  &__form {
    position: relative;
    width: min(100% - 4rem, 1200px);
    margin-inline: auto;
    display: grid;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    height: 100%;
    margin-top: 5rem;
    gap: 1rem;

    @include a.for-tablet-up {
      margin-bottom: 15rem;
    }

    @include a.for-desktop-up {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    input,
    textarea {
      @include a.text-style-paragraph-lg;

      border: 0;
      outline: 0;
      padding: 1rem;
      border-radius: 2rem;
      box-shadow: (0 1px 1px rgba(black, 0.1));
      align-self: center;
      &::placeholder {
        @include a.text-style-paragraph-lg;
      }
      &:focus {
        box-shadow: 0rem 0rem 0.5rem var(--fifth) !important;
        &::placeholder {
          color: transparent;
        }
      }
    }
    textarea {
      grid-row: span 3;
      height: 100%;
    }
    #input-submit {
      background-color: var(--fifth);
      color: var(--primary);
      backface-visibility: hidden;
      &:hover,
      &:focus {
        transition: all 0.3s ease-in-out;

        transform: translateY(-0.3rem);
        background-color: var(--fifth-500);
        color: var(--fifth);
      }
      &:active {
        transform: translateY(0.5rem);
        transition-duration: 0.3s;
      }
    }
  }
}

.success-msg {
  cursor: pointer;
  width: 30rem;
  height: 30rem;
  @include a.for-tablet-up {
    width: 50rem;
    height: 50rem;
  }
  background: var(--primary);
  border-radius: 2rem;
  overflow: hidden;
  position: absolute;
  top: 35%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  animation: slide-in 0.3s ease-in-out;
  &:before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: linear-gradient(
      130deg,
      rgba(99, 94, 191, 1) 0% 33%,
      #5048cd 66%,
      #e4309dba 83.5%,
      #ff8c00 100%
    );
    background : {
      size: 300% 300%;
      position: 0% 0%;
    }
    animation: movingbackground 6s ease;
  }

  &__p {
    @include a.text-style-paragraph-lg;
    color: var(--fifth);
    z-index: 2;
    animation: fade-in 5s ease-in-out;
  }
}

.contact_svg {
  position: absolute;
  bottom: 40rem;
  right: -20rem;
  z-index: -1000;

  @include a.for-desktop-up {
    top: 1rem;
    left: 109rem;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translate(-50%, -50%) scale(0.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes movingbackground {
  0% {
    background-position: 0% 0%;
  }
  20% {
    background-position: 100% 100%;
  }
  80% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
